*{
	font-family: Consolas;
    font-size: 1em;
}

#console{
    padding: 10px;
    border: 10px solid black;
}

.parent {
    text-align: center;
    width: 300px;
	padding: 10px 0;
	border: 1px solid red;
}

.parent2 {
    text-align: right;
    width: 300px;
	padding: 10px 0;
    padding-right: 10px;
	border: 1px solid red;
}