* {
    font-family: Consolas;
    font-size: 1em;
}
.parent {
	width: 700px;
	margin: 0 auto;
	text-align: justify;
	padding: 15px;
	border: 1px solid red;
}
.child{
	float: right;
    width: 100px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid green;
}
.clearfix {
	clear: both;
}