*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 10px;
}

div{
	display: block;
}
.x {
	margin: 50px;
    height: 300px;
    border: 1px solid orange;
}
.y {
	display: block;
	width: 400px;
	border: 1px dashed blue;
}

.z1{
	width: 400px;
    border: 1px dashed blue;
}

.z2{
	margin: 25px;
    border: 1px dashed green;
}

.z3{
	height: 200px;
    margin: 25px;
    border: 1px solid red;
}