*{
	font-family: Consolas;
    font-size: 1.1em;
}

body{
    display: flex;
    justify-content: center;
}
#console{
    padding: 10px;
    border: 10px solid black;
	display: block;
}
#first{
    margin-top: 5px;
}